@font-face {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  src: url("http://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Me5WZLCzYlKw.ttf"); }

@font-face {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  src: url("http://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlvAx05IsDqlA.ttf"); }

* {
  font-family: "Roboto", sans-serif;
  background-color: #f0f0f0;
  font-style: normal;
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box; }

.header {
  width: 100%;
  background-color: #2262CC;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .header .header_content {
    width: 150px;
    height: 75px;
    background-color: #b1b1b1;
    display: flex;
    justify-content: center;
    align-items: center; }
  .header .header_text {
    background-color: #b1b1b1; }
