@font-face {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  src: url("http://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Me5WZLCzYlKw.ttf"); }

@font-face {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  src: url("http://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlvAx05IsDqlA.ttf"); }

* {
  font-family: "Roboto", sans-serif;
  background-color: #f0f0f0;
  font-style: normal;
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box; }

.header {
  width: 100%;
  background-color: #2262CC;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .header .header_content {
    width: 150px;
    height: 75px;
    background-color: #b1b1b1;
    display: flex;
    justify-content: center;
    align-items: center; }
  .header .header_text {
    background-color: #b1b1b1; }

.banner {
  position: relative;
  width: 100%;
  height: 70vh;
  background-color: #b1b1b1;
  display: flex;
  align-items: center;
  justify-content: center; }
  .banner .banner_title {
    background-color: #b1b1b1;
    font-size: 90px; }

.form {
  position: absolute;
  right: 3rem;
  top: 1rem;
  background-color: gray;
  padding: 10px 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px; }
  .form .title {
    font-size: 18px;
    background-color: gray;
    text-transform: uppercase;
    text-align: center;
    color: #fff; }
  .form input[type="email"],
  .form input[type="text"] {
    padding: 5px; }
  .form input[type="submit"] {
    width: 50%;
    transform: translateX(50%);
    padding: 5px;
    background-color: #000;
    text-align: center;
    color: #fff;
    cursor: pointer; }
  .form .politica-privacidade {
    display: flex;
    align-items: center;
    background-color: gray; }
    .form .politica-privacidade label {
      background-color: gray;
      color: #fff;
      font-size: 12px; }

.cards_container {
  width: 100%;
  padding: 30px; }

.grid_cards {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  gap: 10px; }
  .grid_cards .card {
    position: relative;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: 300px !important;
    height: 300px !important;
    background-color: transparent;
    padding: 10px;
    background-size: cover;
    background-position: center center; }
  .grid_cards .card_content {
    display: flex !important;
    flex-direction: column !important;
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    background-color: transparent;
    color: #fff; }
    .grid_cards .card_content .card_title {
      font-size: 1.5rem;
      background-color: transparent; }
    .grid_cards .card_content .card_description {
      height: 100px;
      font-size: 14px;
      background-color: transparent; }

.youtube {
  width: 100%;
  padding: 30px;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important; }
  .youtube #video {
    width: 60% !important;
    height: 400px; }

.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: #2262CC; }
  .footer .size {
    width: 100px;
    height: 50px;
    background-color: #b1b1b1;
    display: flex;
    justify-content: center;
    align-items: center; }
  .footer p {
    font-weight: 400;
    background-color: #b1b1b1; }
  .footer .development {
    color: #fff;
    background-color: transparent; }
